{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/file.html' as fileicon %}

{% block title %}User -Files / List{% endblock %}

{% block body %}
  {{ f.search('user.files') }}

  {% if files.total == 0 %}
    <h3>No results found</h3>

    {% if request.args.get('q') %}
      <p>Try limiting or removing your search terms.</p>
    {% else %}
      <p>There are no files present.</p>
    {% endif %}
  {% else %}
    {% call f.form_tag('user.files_bulk_delete') %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('created_on', 'Created On') }}
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>
            <th id="bulk_actions" colspan="2">
              <div class="form-inline">
                {{ f.field(bulk_form.scope, inline=True) }}
                  <button type="submit"
                          class="btn btn-danger btn-sm">
                    Delete items
                  </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for file in files.items %}
          <tr>
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                     type="checkbox" value="{{ file.id }}">
            </td>
            <td>
              <time class="from-now"
                    data-datetime="{{ file.created_on }}">
                {{ file.created_on }}
              </time>
            </td>
            <td>
              <a href="{{ url_for('user.download_to_browser', id=file.id) }}", target="blank">
                <div class="pull-left">
                  {{ fileicon.icon_for(file) }}
                </div>
                <h4 class="media-heading">{{ file.filename }}</h4>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}
    {{ items.paginate(files) }}
  {% endif %}
{% endblock %}

